---
title: EmailMarker | Sign Up

pageClassName: p-sign
---
extends shared/_layout

block content
	div.body(class!= pageClassName)

		section#sign.sign

			.sign__bg
				.sign__bg-left
				.sign__bg-right

			.sign__wrapper
				.sign__wrapper-left

					.sign__container

						.sign__content

							.logo
								a.logo__btn(href="#")
									img(src="img/logo.svg" alt="")

							h1.c-title Welcome to Family
							p.c-subtitle
								i
								span A trusted solution for your digital marketing needs.

						form#signUp.sign__form(action='' method='' autocomplete='off')
							.sign__form-group.sign__form-group--mb0
								.sign__form-field.sign__form-field--input
									div
										i.icon-font.icon-user
									div
										label(for='signup_name')
											span Full Name
										input(type='text' name='signup_name' id='signup_name' placeholder='enter your full name' input-js required)
									div
										.sign__form-done
											i.icon-font.icon-checked

								.sign__form-field.sign__form-field--input
									div
										i.icon-font.icon-envelope
									div
										label(for='signup_email')
											span Email Adresse
										input(type='email' name='signup_email' id='signup_email' placeholder='enter your email' input-js required)
									div
										.sign__form-done
											i.icon-font.icon-checked

								.sign__form-field.sign__form-field--input
									div
										i.icon-font.icon-key
									div
										label(for='signup_password')
											span Passeword
										input(type='password' name='signup_password' id='signup_password' placeholder='enter your passeword' input-js required)
									div
										a.sign__form-passwod(href="#" toggle-password-js)
											i.icon-font.icon-hide

							.sign__form-field.sign__form-field--additional
								div

									.sign__radio
										input(type='checkbox' name='' id='remember_me')
										label(for='remember_me')
											i
												i.icon-font.icon-checked
											span Remember Me

								div


							.sign__form-field.sign__form-field--btn
								button.c-btn.c-btn__bg(type='submit')
									span SIGN UP FOR FREE
								a.c-btn.c-btn__white(href="#")
									span GET LOGIN

						.sign__content
							p.sign__info!= "Signing up for EmailMarker account means you agree to<br>the <a href='#'>Privacy Policy</a> and <a href='#'>Terms of Service.</a>"

				.sign__wrapper-right

					img.sign__img.sign__img--up(src="img/img-sign-up.svg" alt="")
