// LOGOTYPE :: START

.logo {
	padding-bottom: 118px;
	@include adaptive(1493) {
		padding-bottom: 100px;
	}
	@include adaptive(1335) {
		padding-bottom: 75px;
	}

	&__btn {
		display: flex;
		align-items: flex-start;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// LOGOTYPE :: END
