// SUBTITLE :: START

.c-subtitle {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 70px;
	@include adaptive(1493) {
		padding-bottom: 50px;
	}

	i {
		width: 30px;
		height: 1px;
		margin-right: 10px;
		background-color: #000000;
	}

	span {
		letter-spacing: -0.4px;
		font-size: 14px;
		line-height: 28px;
		color: #464646;
	}
}

// SUBTITLE :: END
